body {
  font-family: 'Noto Sans TC', 'Baloo Tamma 2', sans-serif;
}

a {
  text-decoration: none;
}

p, ul {
  margin-bottom: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.5;
  margin-bottom: 0;
}