.w- {
  &md {
    width: 41%;
  }

  &lg-auto {
    @media (min-width: 992px) {
      width: auto !important;
    }
  }
}

.h- {
  &sm {
    height: 1px;
  }

  &md {
    height: 3px;
  }
}