.ls- {
  &sm {
    letter-spacing: .7px;
  }

  &base {
    letter-spacing: 2px;
  }

  &lg {
    letter-spacing: 3px;
  }
}

.lh- {
  &medium {
    line-height: 1.75;
  }
}

.fw- {
  &medium {
    font-weight: 500;
  }

  &semibold {
    font-weight: 600;
  }
}

.font-baloo {
  font-family: 'Baloo Tamma 2';
}

.text-justify {
  text-align: justify;
}