.nav-link {
  &:hover {
    border-bottom: 2px solid $primary;
  }

  &.active {
    font-weight: bold;
    border-bottom: 2px solid $primary;
  }
}

.navbar {
  .nav-link:hover {
    border: 0;
  }
}